body {
    margin: 0 5%;
}

.header {
    display: none;
    grid-area: header;
}
.fa-bars {
    cursor: pointer;
}
.profile {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    border: 1px solid #000;
}
.logout {
    margin: 0;
}
.fa {
    font-size: 36px;
}
.log__info {
    display: flex;
    justify-content: space-between;
}
.profile__label {
    position: relative;
    top: 25%;
    padding: 0 1em;
}
.main__page {
    display: none;
    grid-template-areas: 
    "header header"
    "menu result";
    grid-template-columns: 1fr 3fr;
}
.menu {
    border: 1px solid #000;
    grid-area: menu;
    transition: .5s all;
}
.menu__list {
    text-align: start;
    transition: .5s all;
}
#bars {
    display: none;
}
.main__page .fa {
    font-size: 36px;
    margin: 0 .3em;
    width: 36px;
    text-align: center;
}
.result {
    border: 1px solid #000;
    grid-area: result;
}
.result__profile {
    display: none;
    grid-template-areas: 
    "title title"
    "img email_div"
    "img role_div"
    "img date_div";
    grid-template-columns: 2fr 4fr;
}
.result__trucks {
    display: none;
    padding: 2em;
}
.result__loads {
    display: block;
}
.pgh {
    padding: 0 .3em;
}
.title {
    font-weight: 500;
    font-size: large;
    grid-area: title;
}
.img__div {
    grid-area: img;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    margin: 0 .5em;
}
.img__div img {
    border: 1px solid #000;
    min-height: 60%;
}
.email__div {
    grid-area: email_div;
    text-align: start;
    display: flex;
}
.role__div {
    grid-area: role_div;
    text-align: start;
    display: flex;
}
.date__div {
    grid-area: date_div;
    text-align: start;
    display: flex;
}
.btn__div {
    display: flex;
    flex-direction: row;
}
.btn__div a {
    margin: .4em .5em;
    display: block;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: .5s all;
}
.btn__div a:hover {
    background-color: #000;
    color: #fff;
}
.li {
    transition: .5s all;
    margin: .3em 0;
}
.li:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.btn {
    padding: .4em .6em;
    margin: .2em;
    background-color: #fff;
    color: #000;
    transition: all .5s;
    border: 1px solid #000;
    text-decoration: none;
}
.btn:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.hw__title {
    font-size: larger;
}
.content__title {
    font-size: large;
    margin: 1em 0;
    font-family: 'Times New Roman', Times, sans-serif;
}
.content__auth {
    padding: 2em;
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 200px;
    border: 1px solid #000;
}
.popup {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}
.popup:target {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    transition: .5s all;
}
.form {
    border: 1px solid #000;
    border-radius: 5px 5px 0% 0%;
    background-color: #fff;
    width: 15%;
}
.form__up {
    width: 100%;
    opacity: initial;
    height: 2.3em;
    background-color: rgba(70,70,72,255);
    border-radius: 5px 5px 0% 0%;
    color: white;
    font-family: sans-serif;
}
.up__label {
    display: float;
    float: left;
    padding: .3em .1em;
}
.form__close {
    display: float;
    float: right;
    color: white;
    padding-top: .5em;
}
.form__block {
    color: rgba(156,156,156,255);
    padding: 10px 1em;
    font-family: sans-serif;
}
.form__label {
    display: block;
    margin-bottom: .1em;
}
.max-width_items {
    width: 100%;
    padding: 6px 10px;
    margin: .2em 0;
    display: inline-block;
    border: 1px solid rgba(154,154,154,255);
    border-radius: 4px;
    box-sizing: border-box;
}
#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .3em 0em;
    font-size: large;
    border-radius: solid;
    margin-top: .2em;
    margin-bottom: 1em;
}

.table {
	width: 100%;
	font-size: 15px;
	background: #fff!important;
    margin-bottom: 20px;
}
   

.table th {
    font: normal 18px Roboto;
    padding: 16px;
	border: none;
	text-align: center;
	border-top: 3px solid #fff;
}
.table th:hover {
    border-bottom: 3px solid #000;
    padding-bottom: 14px;
    background-color: #fafafa;
}
td.name_th,
th.name_th {
    text-align: center;
    align-items: center;
    padding-left: 20px;
}
.table thead tr {
    height: 50px;
    
}
.table tbody tr {
    height: 36px;
}
.table td {
    vertical-align: middle;
    text-align: center;
    padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
    font: normal 15px Roboto;
}
.load__tr:hover {
    background-color: #f8f8f8;
}
.interact {
    cursor: pointer;
}
.table__nav {
    margin: .6em 0;
}
.table a {
    color: #000;
}

.view__truck, .view__load {
    width: 30%;
}
.form__main {
    width: 100%;
    background-color: #fff;
    text-align: start;
    border: 1px solid #f8f8f8;
}
.truck__div, .load__div {
    display: flex;
    padding: .3em;
}
.btn__div {
    display: flex;
    justify-content: center;
}
.truck__btn {
    margin: 0;
}
.error_span {
    color: red;
}
.first__page, .next__page, .last__page{
    cursor: pointer;
}
@media all and (max-width: 768px) 
{
    .content__auth {
        width: 50%;
    }
    .form {
        width: 60%;
    }
    .header {
        width: 100%;
    }
    .content {
        width: 100%;
    }
}